<div class="page-header">
  <h1>Edit <%= @user.username%>s Profile</h1>
</div>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-horizontal'}) do |f| %>
  <div class="control-group">
  <%= f.label :about, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_area :about, :rows => 7, :cols => 120 %>
    <p class="help-block">(you can use the awesome Markdown-Syntax here!)</p>
  </div>
</div>
  <div class="control-group"><%= f.label :email, :class => 'control-label' %> <div class="controls">
  <%= f.email_field :email %></div></div>

  <div class="control-group"><%= f.label :password, :class => 'control-label' %> <i></i> <div class="controls">
  <%= f.password_field :password, :autocomplete => "off" %><p class="help-block">(leave blank if you don't want to change it)</p></div></div>

  <div class="control-group"><%= f.label :password_confirmation, :class => 'control-label' %> <div class="controls">
  <%= f.password_field :password_confirmation %></div></div>

  <div class="control-group"><%= f.label :current_password, :class => 'control-label' %>  <div class="controls">
  <%= f.password_field :current_password %><p class="help-block">(we need your current password to confirm your changes)</p></div></div>
  <div class="form-actions">

   <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                @user, :class => 'btn' %>
                <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete, :class=>'btn btn-danger', :style => 'float: right;' %>
              </div>
<% end %>
