<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
<div class="control-group">
  <%= f.label :about, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_area :about, :rows => 7, :cols => 120 %>
    <p class="help-block">You can use the awesome Markdown-Syntax here!</p>
  </div>
</div>
<div class="control-group">
<%= f.label "Actions", :class => 'control-label' %>
<div class="controls">
  <%= link_to "Edit Password", edit_user_registration_path, :class => 'btn' %>
</div>
</div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                @user, :class => 'btn' %>
  </div>
<%end%>
