<div class="page-header">
	<% if (current_user == @user) %>
	<div class="pull-right">
		<%= link_to edit_user_path(@user), :class => "btn" do %>
			<i class='icon-edit'></i>
			Edit Profile
		<% end %>
	</div>
	<% end %>
	<h1>
		<%= @user.username %>
	</h1>

</div>
<div class="row">
	<div class="span2">
		<div class="thumbnail">
			<%= image_tag @user.gravatar_url(:size => 150) %>
		</div>
	</div>
	<div class="span10">
		<div class="row">
			<div class="span12">
				<p><%= markdown (@user.about) unless @user.about == nil %></p>
			</div>
			<div class="span12">
				<h2>Books:</h2>
				<ul>
					<% @books.each do |book| %>
						<li><h3><%= link_to book.title, book %></h3></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>
