<div class="page-header">
	<h1><%=t('page.what.title')%></h1>
</div>
<h2><%=t('page.what.what_exactly.title')%></h2>
<p>
	<%=t('page.what.what_exactly.text')%>
</p>
<h2><%=t('page.what.why.title')%></h2>
<p>
	<%=t('page.what.why.text')%>
</p>
<h2><%=t('page.what.why_imp.title')%></h2>
<p>
	<%=t('page.what.why_imp.text')%>
</p>