	<%- model_class = Book.new.class -%>
<div class="page-header">
	<h1><%=t 'book.name_pl' %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t 'book.title' %></th>
      <th><%= t 'book.author' %></th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= link_to book.title, book_path(book) %></td>
        <td><%= link_to book.user,  book.user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

