<%- model_class = @book.class -%>

<div class="page-header">
	<div class="pull-right">
		<%= link_to "Download PDF-Version", book_path(@book, :format => :pdf), :class => 'btn ' %>
		<% if current_user == @book.user %>
			<%= link_to "Add new Chapter", new_book_chapter_path(@book), :class=>"btn btn-primary" %>
			
			<%= link_to "Destroy", book_path(@book), :method => 'delete', :confirm => "Do you really want to delete this book?", :class => 'btn btn-danger' %>
			
		<%end%>
	</div>
	<h1>
		<%= best_in_place_if current_user == @book.user, @book, :title %>
		<small>
			<em>
				 by <strong><%= link_to @book.user, @book.user %></strong>
			</em>
		</small>
	</h1>
	<%= best_in_place_if current_user == @book.user, @book, :subtitle %>
</div>

<% if @book.chapters.any? %>
    <h3>Chapters:</h3>
    <ol>
        <% @book.chapters.each do |chapter| %>
	        <li>
				<%= link_to chapter.title, [@book, chapter] %>
			</li>
	    <% end %>
	</ol>
<% end %>

