<%- model_class = @book.class -%>

<div class="page-header">
	<div class="pull-right">
		<% if current_user == @book.user %>
			<%= link_to new_book_chapter_path(@book), :class=>"btn btn-primary" do %>
				<i class='icon-plus-sign'></i>
				<%= t 'chapter.create' %>
			<% end %>
			
			<%= link_to book_path(@book), :method => 'delete', :confirm => "Do you really want to delete this book?", :class => 'btn btn-danger' do %>
				<i class="icon-trash"></i>
				<%= t 'book.remove' %>
			<% end %>
		<%end%>
	</div>
	<h1>
		<%= best_in_place_if current_user == @book.user, @book, :title %>
		<small>
			<em>
				 <%= t 'book.written_by' %> <strong><%= link_to @book.user, @book.user %></strong>
			</em>
		</small>
	</h1>
	<%= best_in_place_if current_user == @book.user, @book, :subtitle %>
</div>

<% if @book.chapters.any? %>
	<h3><%= t 'chapter.name_pl'%>:</h3>
    <ol>
        <% @book.chapters.each do |chapter| %>
	        <li>
				<%= link_to chapter.title, [@book, chapter] %>
			</li>
	    <% end %>
	</ol>
<% end %>
<% if !@lang.empty? %>
<div class="pull-right">
	<small><%= t 'language' %>: <strong><%= @lang %></strong></small>
</div> 
<% end %>
