<%- model_class = @chapter.class -%>
<div class="page-header">
	
	<% if current_user == @book.user %>
		<div class="pull-right">
			<%= link_to edit_book_chapter_path(@book), :class => 'btn' do %>
				<i class="icon-edit"></i>
				Edit
			<% end %>
			<%= link_to book_chapter_path([@book]), :method => 'delete', :confirm => "Do you really want to delete this chapter?", :class => 'btn btn-danger' do %>
				<i class="icon-trash"></i>
				Delete
			<% end %>	 
		</div>
	<% end %>
	<h1>
		<%= @chapter.title %> 
		<small>
			from <%= link_to @chapter.book.title, @chapter.book %>
			<em>
				 by <strong><%= link_to @chapter.book.user, @chapter.book.user %></strong>
			</em>
		</small>
		
	</h1>
</div>
<div class="row">
	<div class="span9">
  		<div>
  			<%= markdown @chapter.content %>
  		</div>
  		
	</div>
	<div class="span3">
		<h3>Chapters:</h3>
    	<ol>
        	<% @chapter.book.chapters.each do |chapter| %>
	        	<li>
					<% if @chapter == chapter %>
					<%= chapter.title %>
					<% else %>
					<%= link_to chapter.title, [@book, chapter] %>
					<% end %>
				</li>
	    	<% end %>
		</ol>

	</div>
	<div class="span12">
		<div>
  			<span>
  				<%= link_to "Previous Chapter: "+ @chapter.prev.title, [@book, @chapter.prev], :class => 'btn' unless @chapter.prev == nil %>
  			</span>
  			<span class="pull-right">
  				<%= link_to "Next Chapter: "+ @chapter.next.title, [@book, @chapter.next], :class => 'btn' unless @chapter.next == nil %>
  			</span>
  		</div>
  	</div>

</div>
