<%- model_class = @chapter.class -%>
<div class="page-header">
	<% if current_user == @book.user %>
		<div class="pull-right">
			<%= link_to raw ("<i class='icon-pencil'></i> ")+"Edit", edit_book_chapter_path(@book), :class => 'btn' %>
			<%= link_to raw ("<i class='icon-trash'></i> ")+"Destroy", book_chapter_path([@book]), :method => 'delete', :confirm => "Do you really want to delete this chapter?",
			              :class => 'btn btn-danger' %>
		</div>
	<% end %>
	<h1>
		<%= link_to @chapter.book.title, @chapter.book %>
		<small>
			<em>
				 von <strong><%= link_to @chapter.book.user, @chapter.book.user %></strong>
			</em>
		</small>
	</h1>

	<%= @book.subtitle %>
</div>
<div class="row">
	<div class="span9">
  		<h3><%= @chapter.title %>
		</h3>
  		<p><%= raw @chapter.content %></p>
	</div>
	<div class="span3">
		<h3>Chapters:</h3>
    	<ol>
        	<% @chapter.book.chapters.each do |chapter| %>
	        	<li>
					<% if @chapter == chapter %>
					<%= chapter.title %>
					<% else %>
					<%= link_to chapter.title, [@book, chapter] %>
					<% end %>
				</li>
	    	<% end %>
		</ol>
	</div>
</div>